<style type="text/css">ul > li { list-style-type: disc; } footer .container { margin-top: 25px; }</style>
<h3>Qu'est-ce que diaspora* ?</h3>
<p>diaspora* est un réseau social respectueux de ses utilisateurs qui accorde la plus grande importance à la protection de la vie privée : il ne revend aucune information, n'affiche pas de pub, chiffre les données échangées et permet l'utilisation de pseudonymes.</p>
<p>Un petit tour de ce qu'il est possible de faire :</p>
<ul>
	<li><strong>Partager</strong> des textes, images, liens (et donc musiques, videos...)</li>
	<li><strong>Réagir</strong> en commentant, repartageant, aimant...</li>
	<li><strong>Cibler</strong> grâce à un puissant système de tags et en mentionnant les autres utilisateurs</li>
	<li><strong>Gérer ses contacts</strong> en les ajoutant à différents aspects afin de contrôler la visibilité du contenu.</li>
	<li><strong>Lier son compte</strong> à ses comptes Twitter, Tumblr et Facebook, afin de publier depuis diaspora* vers les autres réseaux</li>
</ul>

<h3>Pourquoi diaspora* est-il différent ?</h3>
<p>La principale particularité de diaspora* tient dans sa décentralisation. Cela signifie que, au contraire de Facebook ou Twitter où vous ne pouvez vous inscrire que sur facebook.com ou twitter.com, vous êtes libres pour diaspora* de choisir en quel serveur vous avez confiance pour entreposer vos données. Cela peut être un des serveurs principaux (listés sur <a href="http://podupti.me/">podupti.me</a>), mais vous pouvez très bien aussi mettre en place votre propre serveur bien à l'abri sous votre lit. Vous aurez alors un contrôle total de vos données tout en étant capable de parler à tous les serveurs du réseau diaspora*.</p>

<p>Autre point important : diaspora* est un projet Libre, cela signifie que tout le monde à accès au code de l'application, et peut vérifier que le code fait bien ce qu'il doit faire. Tout le monde peut même proposer des modifications pour améliorer l'application. Tout le monde peut participer au projet diaspora*, en développant, mais aussi en traduisant, faisant des graphismes, du support en aidant les gens, ou encore en faisant passer le mot, à l'image de ce site :)</p>

<p><strong>Vous commencez à ressentir l'esprit de diaspora* ?</strong></p>

<h3>Les liens utiles :</h3>
<ul>
	<li>Le guide du parfait débutant (FR) : <a href="http://fr.wikibooks.org/wiki/Diaspora_:_Le_guide_du_parfait_d%C3%A9butant.">sur wikibooks</a></li>
	<li>Le site officiel (FR) : <a href="https://diasporafoundation.org/">diasporafoundation.org</a></li>
	<li>Le code du projet (EN) : <a href="https://github.com/diaspora/diaspora">Github</a></li>
	<li>La liste de serveurs (pods) et leurs infos (EN) : <a href="http://podupti.me/">podupti.me</a></li>
	<li>Des statistiques (EN) : <a href="https://diasp.eu/stats">diasp.eu/stats</a></li>
	<li>Le groupe Loomio (EN) utilisé pour diriger le projet par la communauté : <a href="https://www.loomio.org/groups/194">loomio.org</a></li>
</ul>
